*{margin: 0;padding:0;}
ul,li{list-style: none;}

@import '../bower_components/webkit-sass-flexbox-grid/dist/webkit-sass-flexbox-grid.scss';

.hello-react-layout-lmr{
  color:#F00;
  padding:100px 20px;
  position: relative;
  button{
    background: #3cc51f;
    width:100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color:#FFF;
    padding:20px;
    border: none;

    &:active{
      background: darken(#3cc51f,10%);
    }

    &:focus{
      outline: none;
    }
  }

  .test13{
    text-align: center;
    padding:6px;
    border: 1px solid #333;
    background: #fff;
    em{
      font-style: normal;
    }

    >*{
      margin:0 1px;
      background: #eee;
      >*{display: block;}
      span{font-size:14px;color:#000;}
      em{font-size:10px;color:#999;}
    }
  }
}
